
* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
  }

    /* I am creating borders/background colors aruund 
  my div elemets to help me visualize laout */

body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wrapper {
  
    font-family: Helvetica;
    height: 100%;
    width: 100%;
    display: float;
    border: 5px solid black; 
  }

.gameboard {
    width: 100%;
    height: auto;
    margin-top: 200px;
    /* grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  500px 30px 50px; 
    grid-template-areas:
    "reminder man man startbutton"
    ". invisible invisible ."
    "word word word word"; */
    
}

.user-guess {
    height: 100px;
    width: 100px;
   font-size: 75px;
   border-radius: 15%;
   margin-left: 50%;
}

.wrapper .title {
    /* grid-area: title; */
    font-size: 75px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
    
}

.wrapper .description {
   
    font-size: 25px;
    align-items: center;
    border: 2px solid black;
}

.gameboard .submissions input{
    /* grid-area: word; */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    font-size: 40px;
    height: 60px;
    width: 60px;
    border: 1px solid green;
    margin: 10px;
    border-radius: 15%;  
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 75px 50px 100px 30px 30px 40px 50px; */
    
}

.gameboard .info {
    font-size: 30px;
    border: 2px solid black;
   
}

.gameboard .startbutton {
  
  padding: 5px;
  font-size: 15px;
  height: 90px;
  width: 120px;
  background-color: lightcoral;
  border-radius: 15%;
  margin-left: 50%;

}

.reminder {
    height: 40px;
    font-size: 30px;
    border: 2px solid black; 
       
}

/* I made this invisible until I can figure out how 
remove it wihtout affecting the other letters used feidl. */
.info2 {
  opacity: 0;
}


 .messages {
  font-size: 50px;
 }